<div class="container">
    <div class="row ">
        <div class="col s4">
            <video class="responsive-video" controls>
                <source src="movie.mp4" type="video/mp4">
              </video>
        </div>
        <div class="col s4">
            <h1>Contenedor 1</h1>
            <h2>Contenedor 1</h2>
            <h3>Contenedor 1</h3>
            <h4>Contenedor 1</h4>
            <h5>Contenedor 1</h5>
            <h6>Contenedor 1</h6>
            
        </div>
        <div class="col s4">
            <h1>Contenedor 1</h1>
            <h2>Contenedor 1</h2>
            <h3>Contenedor 1</h3>
            <h4>Contenedor 1</h4>
            <h5>Contenedor 1</h5>
            <h6>Contenedor 1</h6>
 
        </div>
    </div>
    
</div>